<!-- Navigation -->$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}


	<header id= "landing">
			<div class="container">
				<div class="slider-container">
					<div class="intro-text">
						<div class="intro-lead-in">Parenting is evolving</div>
						<div class="intro-heading">Smart Baby-Carrier</div>
              <%= form_tag :action => 'sign_in' do %>
                <p><%= email_field_tag 'email', 'email@example.com', class: 'special_input'%></p>
                <%= submit_tag 'STEP IN', class:"page-scroll btn btn-xl" %>
              <% end %>
					</div>
				</div>
			</div>
		</header>
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2 class= "landing_text"style="margin-bottom: 50px; margin-top: 40px">PAIN FREE SOLUTION </h2>
							<p style="font-weight: 300;color: #555556;">When parents are using a baby carrier, they easily feel pain on the shoulder and neck. But what if Bebefit resolve the pain so that you can cuddle your little one all day?
								<br/>Bebefit's Convetible Hip Seat can distribute the pressure to waist so that you and your baby can feel much comfortable</p>
						</div>
					</div>
				</div>
